---
layout: default
---

<head>
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% include analytics.html %}
</head>
<body>
<div class="home">
  {{ content }}

  <div class="timeline">
    {% for post in site.posts %}
    {% assign time = page.date | date: "%r" %}
    <div class="container right">
      <div class="content">
        <h2>{{ post.title }}</h2>
        <h3>{{ post.date | date: "%d-%m-%Y" }}</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{{ footer }}
</body>